.footer {
    margin-left: 150px;
    border-top: 1px solid $gray;
    p {
        padding: 30px 0 30px 129px;
        font-family: $primary-font;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #3e3e3e;
    }

    @media screen and (max-width: 767px) {
        margin-left: 100px;
    }
}
